
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_NewLayout.cshtml";
}
<!--Login Form -->
<h2 class="page-header">Login</h2>

<div class="alert-warning alert-danger">@ViewBag.Error</div>
@if (ViewBag.ReturnUrl != null)
{
    Html.BeginForm("Index", "Login", new { ReturnUrl = ViewBag.Returnurl });
}
else
{
    Html.BeginForm("Index", "Login");
}
<form action="/Login/Index" align method="post">
    <div class="container" align="center">
        <div class="form-group" align="left">
            @Html.Label("Username")
            @Html.TextBox("Username", null, new { @class = "form-control" })
        </div>

        <div class="form-group" align="left">
            @Html.Label("Password")
            @Html.Password("Password", null, new { @class = "form-control" })
        </div>

        <div class="checkbox" align="left">
            <label>@Html.CheckBox("RememberMe") Remeber Me</label>
        </div>

        <input type="submit" name="login" value="Login" class="btn btn-success" />
    </div>
    <div class="" align="left">
        @Html.ActionLink("New here! Let's sign up", "Create", "Register")
    </div>

</form>
@{ Html.EndForm();}

